<div class="jumbotron text-center">
	<h1>MEAN App</h1>
    <p><h4>The App has successfully compiled</p>
    <p>Thanks for providing this oppurtunity. </p> 
    <li>Click <a style="color: #428bca" href="/dashboard">Customer DashBoard</a> to dive deeper into application </li>
    <p>Created By - Gyanesh Gouraw</p>
    <div class="col-md"></div>
    <!-- Latest compiled and minified CSS & JS -->
    <link rel="stylesheet" media="screen" href="//netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="//code.jquery.com/jquery.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

    <!-- Local bootstrap CSS & JS -->
    <link rel="stylesheet" media="screen" href="bootstrap.min.css">
    <script src="jquery.js"></script>
    <script src="bootstrap.min.js"></script>

    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
    	<div class="well">
    		<div class="jumbotron">
    			<div class="container">
    				<h1>Hello, world!</h1>
    				<p>Contents ...</p>
    				<p>
    					<a class="btn btn-primary btn-lg">Learn more</a>
    					<div class="row">
    						
    					</div>
    				</p>
    			</div>
    		</div>
    	</div>
    </div>
</div>
