
<style>
        .login {
           display: none;
        }
        .login-show{
          display:block;
        }

        .topmargin{
          margin-top: 250px;
        }
        .topmargin2{
        /* height: 700px;*/
        }
        body{
      color:grey;
        }
        .signin-color{
            background-color:#62C162;
        }
         .active-appointments, .settled-appointments, .pending-appointments, .no-active-appointments {
        }
        background: #2d2c2c;
        }
        .signin-margin-left{
            margin-left: 10px !important;
        }

           .modal-header{
        background-color:#888 !important;
        color:white;
        }
           .modal-header-success{
        background-color:rgba(0, 190, 78, 0.9) !important;
        color:white;
        }
        .modal-header-error{
        background-color:red !important;
        color:white;
        }
       .table,input,textarea,span,section,.test{
         font-family: 'Pragati Narrow', cursive !important;
        }
        .pad{
            padding: 5px
        }
  /*  .bkg {
            background: url(images/slam2.jpg);
        }*/

.yb h2,.yb p{
  font-size:100%;
  font-weight:normal;
}
.yb ul,.yb li{
  list-style:none;
}
.yb ul{
 /* overflow:hidden;*/
  padding:3em;
}
.yb ul li a{
  text-decoration:none;
  color:#697169;
  background:#ffc;
  display:block;
  height:12em;
  width:12em;
  padding:1em;
  z-index:10;
  -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
  -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  -moz-transition:-moz-transform .15s linear;
  -o-transition:-o-transform .15s linear;
  -webkit-transition:-webkit-transform .15s linear;
}
/*.yb ul li{
  margin:1em;
  float:left;
}*/
/*.yb ul li h2{
  font-size:140%;
  font-weight:bold;
  padding-bottom:10px;
}*/
.yb ul li p{
  font-size:80%;
}
.yb ul li a{
  -webkit-transform: rotate(-6deg);
  -o-transform: rotate(-6deg);
  -moz-transform:rotate(-6deg);
}
.yb ul li:nth-child(even) a{
  -o-transform:rotate(4deg);
  -webkit-transform:rotate(4deg);
  -moz-transform:rotate(4deg);
  position:relative;
  top:5px;
  background:#cfc;
}
.yb ul li:nth-child(3n) a{
  -o-transform:rotate(-3deg);
  -webkit-transform:rotate(-3deg);
  -moz-transform:rotate(-3deg);
  position:relative;
  top:-5px;
  background:#ccf;
}
.yb ul li:nth-child(5n) a{
  -o-transform:rotate(5deg);
  -webkit-transform:rotate(5deg);
  -moz-transform:rotate(5deg);
  position:relative;
  top:-10px;
}
.yb ul li a:hover,.yb ul li a:focus{
  box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -moz-box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -webkit-box-shadow: 10px 10px 7px rgba(0,0,0,.7);
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -o-transform: scale(1.25);
  position:relative;
  z-index:5;
}
.yb ol{text-align:center;}
.yb ol li{display:inline;padding-right:1em;}
.yb ol li a{color:#697169;} 
</style>
<div class="row" ng-show="!authOps">
    <div class="col-md-6 topmargin2 bkg">
        <div class="">
          <div>
              <img src="images/quote1.jpg" height="500px">
              
          </div>
        </div>
    </div>
    <div class="col-md-5">

    <img src="images/slam11.png">

    <div class=" col-md-4 col-md-offset-4 well  signin-color " id="gConnect">
        <div class="signin-margin-left" id="signin-button"></div>
    </div>

    </div>
    <div class="col-md-1">
         <img class="pull-right" src="images/checkout1.gif" height="100px" style="margin-top: 460px;">
    </div>
</div>

<div id="authOps"  ng-show="authOps" class="topmargin2">
        <div class="col-md-2">
            <div class=" thumbnail">
                <div id="profile">
                    <p class="thumbnail"><img src="{{profile.img}}"></p>
                    <p><i class="fa fa-male fa-lg">    </i><span style="margin-left:5px">{{profile.displayName}}</span></p>
                </div>
            <button id="signOut" class="btn btn-warning" ng-click="Logout()">
            <i class="fa fa-sign-out fa-lg"> </i> Sign Out</button>
            </div>
            <div id="sticky" class="row yb">
                <ul>
                    <li>
                      <a href="#" style="background:#9A3457;color:white" >
                      <i class="glyphicon glyphicon-paperclip pull-right"></i>
                        <h2><b>Usgae:</b></h2>
                        <p> <i class="glyphicon glyphicon-tags pull-left"> </i>&nbsp; Click on any one of your friend.</p>
                        <p><i class="glyphicon glyphicon-tags pull-left"> </i>&nbsp;Send him the invitation with your message.</p>
                      </a>
                    </li>
                    <li>
                      <a href="#" style="background:#235658;color:white">
                        <p><i class="glyphicon glyphicon-tags pull-left"> </i>&nbsp; Your Friend will be intimated via email</p>
                        <p><i class="glyphicon glyphicon-tags pull-left"> </i>&nbsp; When he fills the slambook you will be notified via email too.</p>
                         <p><i class="glyphicon glyphicon-tags pull-left"></i>&nbsp; Follow the link in mail to view your slambook</p>
                      </a>
                    </li>
                 </ul>
            </div>
     </div>

    <div class="col-md-10">
        <div class="thumbnail">
            <input type="text" id="searchQuery" class="form-control" style="margin-top:10px;border:1px solid #888888" placeholder="You can enter either Name / Mobile / Phone / Email / Address to search" ng-model="search">
            <button  class="btn btn-primary btn-xs pull-right"ng-click="openMailmodal()">Send Manually</button>
            <div class="table-responsive">
                <table class="table table-condensed table">
                   <!--  <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Last Updated</th>
                        </tr>
                    </thead> -->
                    <tbody>
                       <!--  <tr ng-repeat="person in peopleFiltered| startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit " ng-click="openMailmodal(person)">
                            <td>{{person.gd$name.gd$fullName.$t}}</td>
                            <td>{{ person.gd$email[0].address}}</td>
                            <td>{{person.updated.$t}}</td>
                        </tr> -->

                          <div class="col-md-4 test"ng-repeat="person in peopleFiltered| startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit " ng-click="openMailmodal(person)"> 
                                 <section class="panel panel-info">
                                           <div class="panel-body pad" style="box-shadow: 2px 2px 8px #888888">
                                             <a href="#" class="thumb pull-right m-l">
                                               <img src="images/avatar{{person.dispImageCount}}.jpg" class="img-circle">
                                             </a>
                                             <div class="clear">
                                               <a href="#" class="text-info">{{person.gd$name.gd$fullName.$t}} <i class="icon-twitter"></i></a>
                                               <small class="block text-muted">{{person.dispImageCount}}</small>
                                               <a href="#" class="btn btn-xs btn-{{person.btncolor}} m-t-xs">{{ person.gd$email[0].address}}</a>
                                             </div>
                                           </div>
                                 </section>
                 </div>
                    </tbody>
                </table>
<div>
     <pagination data-boundary-links="true"
                            data-num-pages="noOfPages"
                            data-current-page="currentPage"
                            max-size="maxSize"
                            class="pagination-small pagination-centered"
                            data-previous-text="&laquo;"
                            data-next-text="&raquo;">
                </pagination>
</div>
               
            </div>
        </div>
              <!--   <div class="col-md-4"> 
                     <section class="panel panel-info">
                               <div class="panel-body">
                                 <a href="#" class="thumb pull-right m-l">
                                   <img src="images/avatar.jpg" class="img-circle">
                                 </a>
                                 <div class="clear">
                                   <a href="#" class="text-info">@Mike Mcalidek <i class="icon-twitter"></i></a>
                                   <small class="block text-muted">2,415 followers / 225 tweets</small>
                                   <a href="#" class="btn btn-xs btn-success m-t-xs">Follow</a>
                                 </div>
                               </div>
                     </section>
                 </div> -->

    </div>
</div>

<div class="modal fade" id="myMailModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div ng-class="mailModalClass">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Send Mail</h4>
            </div>
            <div class="modal-body" ng-show="!mailSubmitted">
                    <form name="mailerForm">
                           <div class="row">
                     <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                         <div>Hello</div><span><b ng-show="mail.name !=''">{{mail.name}}</b></span>
                        
                     </div>  
                     <div class="col-md-6 pull-right">
                     <span style="color:red" ng-show="!mail.recieverMail.length>0">Please enter email id.We could not retrieve it automatically</span>
                          <input name="recievermail" type="email" class="form-control" ng-model="mail.recieverMail" name="" id="input" pattern="" title="RecieverMail"ng-required="true">
                          <span style="color:red" ng-show="mailerForm.recievermail.$invalid&&mailerForm.recievermail.$dirty">Please enter valid email</span>
                     </div>         
                    </div>
                    <div class="row form-group">
                           <div class="col-md-12">
                            <textarea rows="5" class="form-control" placeholder="Enter your message" ng-model="mail.body"></textarea>
                        </div>
                    </div>

                    <div ng-show=></div>
                    </form>
            </div>
            <div class="modal-body" ng-show="mailSubmitted">
                            <div ng-show="mailSuccess">
                                <h2> Success</h2>
                                <p >Your friend has been intimated via email successfully.</p>
                            </div>
                            <div ng-show="!mailSuccess">
                                 <h2>Error</h2>
                                 <p >Something went wrong!.Your friend couldnot be intimated via email. Please try again.</p> 
                            </div>
                        </div>
            <div class="modal-footer">
                
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="mailSubmitted=false;mailSuccess=false;mailModalClass='modal-header'">Close</button>
                <button ng-show="!mailSubmitted" type="button" class="btn btn-primary" ng-disabled="mailerForm.$invalid" ng-click="sendInvitaionMail()">Send</button>
            </div>
        </div>
    </div>
</div>

 <my-test ng-show="false"></my-test>

