
<style>
        .login {
           display: none;
        }
        .login-show{
          display:block;
        }

        .topmargin{
          margin-top: 250px;
        }
        body{
      color:grey;
        }
         .active-appointments, .settled-appointments, .pending-appointments, .no-active-appointments {
        background: #2d2c2c;
    }
</style>
<div class="topmargin col-md-4 col-md-offset-4 well" id="gConnect">
    <div id="signin-button"></div>
</div>
<div id="authOps" style="display:none">
    <div class="col-md-2">
        <div id="profile"></div>
        <button id="signOut" ng-click="Logout()">Sign Out</button>
    </div>
    <div class="col-md-10">
        <div class="thumbnail">
            <input type="text" id="searchQuery" class="form-control" style="margin-top:10px;border:1px solid #888888" placeholder="You can enter either Name / Mobile / Phone / Email / Address to search" ng-model="search">
            <div class="table-responsive">
                <table class="table table-condensed table-hover">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Last Updated</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="person in peopleFiltered| startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit " ng-click="openMailmodal(person)">
                            <td>{{person.gd$name.gd$fullName.$t}}</td>
                            <td>{{ person.gd$email[0].address}}</td>
                            <td>{{person.updated.$t}}</td>
                        </tr>
                    </tbody>
                </table>

                <pagination data-boundary-links="true"
                            data-num-pages="noOfPages"
                            data-current-page="currentPage"
                            max-size="maxSize"
                            class="pagination-small pagination-centered"
                            data-previous-text="&laquo;"
                            data-next-text="&raquo;">
                </pagination>
            </div>
        </div>

    </div>
</div>

<div class="modal fade" id="myMailModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Send Mail</h4>
            </div>
            <div class="modal-body">
            <form name="mailerForm">
                   <div class="row">
             <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                 <div>Hello</div><span><b>{{mail.name}}</b></span>
                
             </div>  
             <div class="col-md-6 pull-right">
                  <input type="text" ng-model="mail.recieverMail" name="" id="input" pattern="" title="RecieverMail"ng-required="true">
             </div>         
            </div>
            <div class="row form-group">
                   <div class="col-md-12">
                    <textarea rows="5" class="form-control" placeholder="Enter your message" ng-model="mail.body"></textarea>
                </div>
            </div>
            </form>
          
                
            </div>
            <div class="modal-footer">
                
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clearmailData()">Close</button>
                <button type="button" class="btn btn-primary" ng-disabled="mailerForm.$invalid" ng-click="sendInvitaionMail()">Send</button>
            </div>
        </div>
    </div>
</div>

 <my-test ng-show="false"></my-test>

