<style >
	div1{
		color:white;
	}
</style>
<div class="container well">
	<div class="row">
		<div class="col-md-5">
			<label for="name">Name</label>
				<input id="name" class="form-control" type="text" ng-model="slam.name" />
		<img  height="30%" width="30%" src="../images/name.jpg" class="img-responsive" alt="Image">
		</div>
		<div class="col-md-5">
			<label for="address">Address</label>
				<textarea cols="30" rows="5"class="form-control" id="address" ng-model="slam.address"></textarea>
		</div>
	</div>
	<div class="row">
		<div class="col-md-5">
			<label for="phone">Phone</label>
				<input id="phone" class="form-control" type="text" ng-model="slam.phone" />
		</div>
		<div class="col-md-5">
			<label for="bday">Birthday</label>
				<input id="bday" class="form-control" type="text" ng-model="slam.bday" />
		</div>
	</div>
	<div class="row">
		<div class="col-md-5">
			<label for="zodiac">zodiac</label>
				<input id="zodiac" class="form-control" type="text" ng-model="slam.zodiac" />
		</div>
		<div class="col-md-5">
			<label for="secret">secret</label>
				<input id="secret" class="form-control" type="text" ng-model="slam.secret" />
		</div>
	</div>
	<div class="row">
		<div class="col-md-5">
			<label for="crush">crush</label>
				<input id="crush" class="form-control" type="text" ng-model="slam.crush" />
				<img  height="10%" width="10%" src="../images/crush.gif" class="img-responsive" alt="Image">
		</div>
		<div class="col-md-5">
			<label for="essential">essential</label>
				<input id="essential" class="form-control" type="text" ng-model="slam.essential" />
		</div>
	</div>
	<div class="row">
		<div class="col-md-5">
			<label for="greed">greed</label>
				<input id="greed" class="form-control" type="text" ng-model="slam.greed" />
		</div>
		<div class="col-md-5">
			<label for="earn">earn</label>
				<input id="earn" class="form-control" type="text" ng-model="slam.earn" />
		</div>
	</div>
	<div class="row">
		<div class="col-md-5">
			<label for="fav_movie">fav_movie</label>
				<input id="fav_movie" class="form-control" type="text" ng-model="slam.fav_movie" />
		</div>
		<div class="col-md-5">
			<label for="fav_actor_actresses">fav_actor_actresses</label>
				<input id="fav_actor_actresses" class="form-control" type="text" ng-model="slam.fav_actor_actresses" />
		</div>
	</div>
	<div class="row">
		<div class="col-md-5">
			<label for="fav_festival">fav_festival</label>
				<input id="fav_festival" class="form-control" type="text" ng-model="slam.fav_festival" />
		</div>
		<div class="col-md-5">
			<label for="fav_website">fav_website</label>
				<input id="fav_website" class="form-control" type="text" ng-model="slam.fav_website" />
		</div>
	</div>
	<div class="row">
		<div class="col-md-5">
			<label for="fav_holiday_spot">fav_holiday_spot</label>
				<input id="fav_holiday_spot" class="form-control" type="text" ng-model="slam.fav_holiday_spot" />
		</div>
		<div class="col-md-5">
			<label for="memorable_moments">memorable_moments</label>
				<textarea  cols="30" rows="5" id="memorable_moments" class="form-control" type="text" ng-model="slam.memorable_moments" ></textarea>
		</div>
	</div>
	<!-- new -->
	<!-- new -->
	<!-- new -->
	<!-- new -->

	<div class="row">
		<div class="col-md-5">
			<label for="fav_holiday_spot">people_I_hate</label>
				<input id="people_I_hate" class="form-control" type="text" ng-model="slam.people_I_hate" />
		</div>
		<div class="col-md-5">
			<label for="fav_dance_tune">fav_dance_tune</label>
				<input id="fav_dance_tune" class="form-control" type="text" ng-model="slam.fav_dance_tune" />
		</div>
	</div>
	<div class="row">
		<div class="col-md-5">
			<label for="my_ideal">my_ideal</label>
				<input id="my_ideal" class="form-control" type="text" ng-model="slam.my_ideal" />
		</div>
		<div class="col-md-5">
			<label for="my_ambition">my_ambition</label>
				<input id="my_ambition" class="form-control" type="text" ng-model="slam.my_ambition" />
		</div>
	</div>
	<div class="row">
		<div class="col-md-5">
			<label for="first_impression">first_impression</label>
				<textarea  cols="30" rows="5" id="first_impression" class="form-control" type="text" ng-model="slam.first_impression"></textareaid>
		</div>
		<div class="col-md-5">
			<label for="things_about_me">things_about_me</label>
				<textarea cols="30" rows="5" id="things_about_me" class="form-control" type="text" ng-model="slam.things_about_me" ></textarea>
		</div>
	</div>
	<div class="row ">
		<div class="col-md-5">
			<label for="annoying_habit">My Annoying Habbit</label><span><img  height="10%" width="10%" src="../images/annoy.gif" class="img-responsive" alt="Image"></span>
				<textarea  cols="30" rows="5" id="annoying_habit" class="form-control" type="text" ng-model="slam.annoying_habit"></textarea>

		</div>
		<div class="col-md-5">
			<label for="memorable_moments">memorable_moments</label>
				<textarea  cols="30" rows="5" id="memorable_moments" class="form-control" type="text" ng-model="slam.memorable_moments"></textarea>
		</div>
	</div>
	<div class="row">
		<div class="col-md-5">
			<label for="things_not_said_about_me">things_not_said_about_me</label>
				<textarea cols="30" rows="5"id="things_not_said_about_me" class="form-control" type="text" ng-model="slam.things_not_said_about_me"></textarea>
		</div>
		<div class="col-md-5">
			<label for="final_line">final_line</label>
				<textarea  cols="30" rows="5" id="final_line" class="form-control" type="text" ng-model="slam.final_line"></textarea>
		</div>
	</div>
</div>


